.load_btn {
  color: #f8f8f8;
  font-family: inherit;
  font-size: inherit;
  margin-top: 1em;
  padding: 0.5em 1.5em;
  background-color: #1a2761;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 500ms;
  font-weight: 700;
}

.load_btn:hover,
.load_btn:active {
  background-color: #2b41a1;
  color: #fff;
  transform: scale(1.05);
}
